/* 카드 이미지 16:9 전체 표시 */
.card-thumbnail {
  width: 100% !important;
  height: auto !important;
}

section article .flex-none {
  width: 200px;
}

@media (min-width: 640px) {
  section article .flex-none {
    width: 280px;
  }
}

@media (min-width: 1024px) {
  section article .flex-none {
    width: 320px;
  }
}
